.header {
    background-color: rgba(13, 14, 14, 0.75);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 1280px;
    height: 66px;
}

.icon_navbar:hover {
    transform: scale(1.04);
    filter: brightness(1.1);
}

.icon_navbar {
    filter: brightness(0.6);
    display:inline-block;
    margin: 0 30px;
    list-style: none;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s;
}

body {

}


