#content {
    position: absolute;
    top: 10vw;
    right: 5%;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 43%;
    z-index :1;
}

.header_navchara {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
    padding-right: 0;
}

.icon_navchara {
    filter: brightness(0.6);
    list-style: none;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_navchara img {
    width: 85%;
    height: 85%;
}

.icon_navchara:hover {
    transform: scale(1.04);
    filter: brightness(1.1);
}

#text {
    position: relative;
    top: -1vw;
    left: 6%;
}