.lore {
    font-size: 1.25vw;
}

/*.weapon {
    width: 6vw;
}*/

.weaponsContent , .artifacts, .materials, .talents{
    top: 2vw;
    display: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.materials div:not(.page), .artifacts_set1 div:not(.page) div, .artifacts_set2 div:not(.page) div, .weaponsContent div div{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2vw;
}

.weaponsContent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.rare1 {
    background: linear-gradient(rgba(88,94,106,.800), rgba(132,142,155,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw seagreen;
}

.rare2 {
    background: linear-gradient(rgba(75,96,96,.800), rgba(117,155,131,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw seagreen;
}

.rare3 {
    background: linear-gradient(rgba(80,97,130,.800), rgba(81,146,170,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw cornflowerblue;
}

.rare4 {
    background: linear-gradient(rgba(89,92,135,.800), rgba(137,113,175,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw violet;
}

.rare5 {
    background: linear-gradient(rgba(140,107,53,.800), rgba(179,120,50,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw darkgoldenrod;
}

.weaponsName, .artifactsName, .ascension {
    color: #efd5a3;
    font-family: 'zh-cn';
    position: relative;
    bottom: 0.3vw;
    font-size: 1.3vw;
}

.weaponsText, .artifactsText {
    top: 0.3vw;
    position: relative;
    width: 90%;
}

.artifacts {
    display: none;
}

.materials {
    display: none;
    flex-flow: wrap;
    flex-direction: column;
    max-height: 25vw;
}

.talents {
    display: none;
}

.constellations {
    display: none;
}

.weaponsContent {
    display: none;
}

.w2 {
    display: none;
}

.w3 {
    display: none;
}

.materialsName {
    font-size: 1vw;
    /*margin-left: 2%;*/
}

.material {
    border-radius: 1.5vw;
    width: 4vw;
    height: 4vw;
}

.materials div {
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.page {
    position: absolute;
    top: 19vw;
    left: 18vw;
}

.page img:hover {
    cursor: pointer;
}

.page img {
    height: 1.5vw;
    margin: 10px;
}

.talents .page {
    left: 14vw;
}

.artifacts_set1, .artifacts_set2, .weaponsContent div, .ascensionContent{
    display: flex;
}

.artifacts_set2 {
    display:none;
    flex-flow: column;
}

.artifacts_set2 div , .artifacts_set1 div, .weaponsContent div{
    display: flex;
    flex-flow: row;
    margin-bottom: 2vw;
}