.lore {
    font-size: 1.25vw;
    background-color: rgba(13, 14, 14, 0.55);
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 10px 8px;
    border: 0.2vw solid white;
    padding: 25px;
    border-radius: 4px;
}

.rare1 {
    background: linear-gradient(rgba(88,94,106,.800), rgba(132,142,155,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw lightslategrey;
}

.rare2 {
    background: linear-gradient(rgba(75,96,96,.800), rgba(117,155,131,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw seagreen;
}

.rare3 {
    background: linear-gradient(rgba(80,97,130,.800), rgba(81,146,170,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw cornflowerblue;
}

.rare4 {
    background: linear-gradient(rgba(89,92,135,.800), rgba(137,113,175,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw violet;
}

.rare5 {
    background: linear-gradient(rgba(140,107,53,.800), rgba(179,120,50,.800));
    border-radius: 2vw;
    border: 0.2vw solid #efd5a3;
    width: 6vw;
    height: 6vw;
    box-shadow: 0 0.1vw 0.8vw darkgoldenrod;
}



.page {
    position: absolute;
    top: 21vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    width: 100%;

}

.page img:hover {
    cursor: pointer;
}

.page img {
    height: 1.5vw;
    margin: 10px;
}


.artifacts_set1 div:not(.page) div, .artifacts_set2 div:not(.page) div, .weaponsContent div div{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2vw;
}

.weaponsContent {
    display: flex;
    flex-direction: column;
    position: relative;
}

.weaponsName, .artifactsName, .matName, .talentsName, .constellationsName {
    color: #efd5a3;
    font-family: 'zh-cn';
    position: relative;
    bottom: 0.3vw;
    font-size: 1.3vw;
}

.weaponsText, .artifactsText {
    top: 0.3vw;
    position: relative;
    width: 90%;
}

.materialsName {
    font-size: 1vw;
}

.material {
    border-radius: 1.5vw;
    width: 3vw;
    height: 3vw;
    padding: 0.5vw;
    transition: all 0.3s;
}

.weapon, .artifact, .talentimg, .constellationimg {
    transition: all 0.3s;
}

.material:hover, .weapon:hover, .artifact:hover, .talentimg:hover, .constellationimg:hover {
    transform: translateY(-4%) !important;
    filter: brightness(1.1)!important;
}

.artifacts_set1, .artifacts_set2, .weaponsContent div, .ascensionContent{
    display: flex;
}

.artifacts_set2 {
    display:none;
    flex-flow: column;
}

.artifacts_set2 div , .artifacts_set1 div, .weaponsContent div{
    display: flex;
    flex-flow: row;
    margin-bottom: 2vw;
}

.ascensionMats, .talentsMats {
    columns: 3;
}

.matName {
    position: absolute;
    top: -2.5vw;
    opacity: 0.7;
    letter-spacing: 8px;
    border-bottom: 2px solid rgba(10, 10, 10, 0.45);
    height: 20px;
    width: 300px;
    line-height: 1px;
}


.materials div div {
    display: flex;
    align-items: center;
    break-inside: avoid;
    height: 6vw;
}

.materials div div span {
    margin: 0.6vw;
}


/* TALENTS */

.talent1 div, .talent2 div, .talent3 div, .talentPass div, .talents span, .constellations span, .constellation1 div,
.constellation2 div, .constellation3 div, .constellation4 div, .constellation5 div, .constellation6 div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5vw;
}

.talents div:not(.page) img, .constellations div:not(.page) img {
    width: 3.5vw;
    background: linear-gradient(rgb(88,94,106), rgb(132,142,155));
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
    margin: 0 0 1vw 0;
}

.geo div:not(.page) img {
    width: 3.5vw;
    background: linear-gradient(rgb(202, 131, 34), rgb(255, 249, 204));
    border-radius: 50%;
    box-shadow: rgb(206, 129, 35) 0px 3px 7px 0px;
    margin: 0 0 1vw 0;
}

.talents div div div, .talents div div div span {
    display: flex;
    align-items: flex-start;
    font-size: 1vw;
}

.talentsName + span, .constellationsName + span {
    color: darkgray;
    margin-bottom: 0.5vw;
    font-size: 1vw;
}

.talentsType {
    color: #efd5a3;
    margin-bottom: 1%;
    font-size: 1vw;
}

.talentsContent {
    margin-bottom: 1vw;
}

.talents > div:not(.page) {
    top: -2vw;
    position: relative;
}

.talent2, .talent3, .talentPass {
    display: none;
}

.talentPass div {
    max-width: 14vw;
}

.weaponsContent, .artifacts, .materials, .talents, .constellations {
    top: 2vw;
    display: none;
    position: relative;
}

