footer {
    position: absolute;
    z-index: 5000;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: end;
    bottom: -71vw;
    left: -0.7vw;
    margin: 5vw 0;
    width: 101vw;
    height: 20vw;
}