footer {
    position: relative;
    z-index: 5000;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    bottom: 0;
    margin: 0;
    width: 101vw;
    height: 20vw;
    left: 0;
}

/*#section3 {*/
/*    max-height: 20vw;*/
/*}*/

.top {
    left: 0;
    position: absolute;
    top: 0;
    padding: 2vw 8vw 0.5vw 2vw;
    width: 100%;
}

.underline_footer {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(130deg, #6b6b6b, #111111 70%);
}

.top img {
    height: 2vw;
    padding: 0 0.5vw;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
}

.top img:hover {
    opacity: 1;
}

.bot {
    display: flex;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logos {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 45%;
    top: 5vw;
}

.logos a:first-child img {
    width: 5vw;
}

.logos a img {
    width: 10vw;
    padding: 0 1vw 0 0;
}

.logos a:nth-child(2) {
    border-left: 0.1vw solid;
    border-color: white;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 50%;
    top: 5vw;
    color: #7d7d7d;
    font-size: 1vw;
}

.github_links {
    opacity: 0.5;
    transition: all 0.3s;
}

.github_links:hover {
    opacity: 1;
}

.links a {
    text-decoration: none;
    color: #7d7d7d;
    border-color: white !important;
    border-left: 0.1vw solid;
    padding: 0 1vw;
}

.links a:last-child {
    border-right: 0.1vw solid;
}

.links p {
    max-width: 80%;
    margin: 2vw 0;
}
