body {
    color: white;
    font-size: 1.25vw;
    text-shadow: .1vw 0vw .25vw #181817,
    .15vw 0vw .25vw #272726,
    .1vw 0vw .1vw #272726;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    scrollbar-arrow-color: #272726;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 50%;
}

.navigation {
    background-color: rgba(13, 14, 14, 0.75);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 66px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


.navIconHeader:hover {
    transform: scale(1.04);
    filter: brightness(1);
}

.navIconHeader {
    filter: brightness(0.6);
    transition: all 0.3s;
}

.clickIcon {
    transform: scale(1.04) !important;
    filter: brightness(1) !important;
}

.iconNavbar {
    display: inline-block;
    list-style: none;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}

.iconNavbar img {
    width: 63px;
    height: 63px;
}

.characters {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    height: 0px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(13, 14, 14, 0.85);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
    z-index: 10000;
    transition: all 0.7s;
    transform-origin: top center;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
}

.openCharacters {
    height: 200px;
}

.dropdown {
    height: 100%;
}

.testDropdown {
    animation: rotateX 0.5s 180ms ease-out both;
}

.reverseDropdown {
    animation: rotateX 1s 180ms ease-out both reverse;
}


@keyframes rotateX {

    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes rotateX-end {

    0% {
        opacity: 1;
        transform: rotateX(0deg);

    }

    50% {
        transform: rotateX(-20deg);
    }

    100% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
}

.charIcon:hover + .characters {
    display: flex;
    flex-flow: wrap;
    text-decoration: none;
}

.characters > a {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
}

.charIcon:hover ~ .characters a {
    display: flex;
}

a.iconNavbar:after {
    bottom: 0;
    content: "";
    display: block;
    height: 4%;
    left: 20%;
    position: absolute;
    background: #fff none repeat scroll 0 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a.iconNavbar:hover:after {
    width: 100%;
    left: 0;
}

.iconNavbar a {
    display: flex;
    justify-content: center;
}

.aIcon {
    position: relative;
}

.aIcon img {
    padding: 0 10% 0 10%;
    width: 65px;
    height: 65px;
    transition: all 0.2s;
}

.aIcon img:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.resized img {
    position: absolute;
    left: 4%;
}

.unzoom img {
    position: absolute;
    transform: scale(0.9);
    left: 15vw !important;
}

.resized_toobig img {
    position: absolute;
    left: 25vw;
}

.sayu_resized img {
    position: absolute;
    left: 10vw;
}

.xiao_resized img {
    position: absolute;
    left: 20vw;
}

.fonduOut {
    opacity: 0;
    transition: opacity 0.4s 0.5s ease-out;
}

.loaderWrapper {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loaderInner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loaderInner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loaderInner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.bmpLogo img {
    position: absolute;
    left: 0;
    height: 100%;
    filter: drop-shadow(0 0 1rem black) opacity(80%) grayscale(0.5);
}
