body {
    color: white;
    font-size: 2vw;
    text-shadow:
            .1vw 0vw .25vw #181817,
            .15vw 0vw .25vw #272726,
            .1vw 0vw .1vw #272726;
    overflow: hidden;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: rgba(13, 14, 14, 0.75);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 1280px;
    height: 66px;
    margin: 0;
    padding: 0;
}

.icon_navbar:hover {
    transform: scale(1.04);
    filter: brightness(1.1);
}

.icon_navbar {
    filter: brightness(0.6);
    display:inline-block;
    margin: 0 30px;
    list-style: none;
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s;
}

.icon_navbar img {
    width: 63px;
    height: 63px;
}

.characters {
    display:none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 200px;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(13, 14, 14, 0.85);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;

}

.char_icon:hover + .characters{
    display: flex;
    flex-flow: wrap;
    text-decoration: none;
}

.characters:hover{
    display: flex;
    flex-flow: wrap;
}

.characters > a {
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px 0px;
}

a.icon_navbar:after {
    bottom: 0;
    content: "";
    display: block;
    height: 4%;
    left: 20%;
    position: absolute;
    background: #fff none repeat scroll 0 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
a.icon_navbar:hover:after {
    width: 100%;
    left: 0;
}

.icon_navbar a{
    display: flex;
    justify-content: center;
}

.a_icon{
    position: relative;
}

.a_icon img {
    padding: 0 10% 0 10%;
    width: 65px;
    height: 65px;
}