/* BACKGROUND */

body {
    background-image: url("../images/wallpaper/news_background.jpg");
    background-attachment: fixed !important;
    background-size: cover !important;
}

/* ARTICLES */

.all_articles {
    width: 70vw;
    position: absolute;
    left: 10vw;
    padding: 10vh 5vw;
    background-color: #f0f0f0;
}

.single_articles a {
    position: relative;
    max-width: 100%;
    height: 15vh;
    margin: 1vw 0;
    padding: 1% 1.5%;
    border-radius: 0.5vw;
    display: flex;
    border: solid 3px rgba(57, 59, 64, 0);
    transition: border-color 0.2s linear;

    background-color: white;
    cursor: pointer;
    text-decoration: none;
}

.single_articles a:hover {
    border-color: rgba(57, 59, 64, 0.15);
}

.single_articles img {
    margin-right: 2%;
    max-width: 28%;
}

.articles_content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-family: 'Heebo', sans-serif;
    text-shadow: None;
}

.articles_content h2 {
    margin: 0 0 1.5% 0;
    color: #393b40;
    font-size: 1.5vw;
}

.articles_content p {
    margin: 0;
    color: #7d7d7d;
    font-size: 80%;
}

